<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="inetBankingv1">

	<listeners>
		<listener class-name="com.inetbanking.utilities.Reporting" />
	</listeners>


	<test name="TC_Login_001">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.inetbanking.testCases.TC_Login_001" />
		</classes>

	</test>

	<test name="TC_LoginDDT_002">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.inetbanking.testCases.TC_LoginDDT_002" />
		</classes>

	</test>
</suite>